@model IEnumerable<ASL.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>

<h2>Recently Paid Invoices</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Paid > 1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br/>
<br/>
<h2>Recently Billed Invoices</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Paid < 2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

